<div class="container">
<%- include('../partials/notificationsPartial') %>
  <h1>L<span>o</span>g in</h1>

  <form action="/auth/login" method="POST" class="form-group">
    <label for="email">Email:</label>
    <input name="email" type="email" placeholder="Email" class="form-control" required>
    <label for="password">Password:</label>
    <input name="password" type="password" placeholder="Password" class="form-control" required>
    <input type="submit" class="form-control btn">
    <small class="form-text text-muted">Don't have an account? <a href="/auth/signup">Sign Up</a></small>
  </form>
</div>
