<h1>/auth/login</h1>

<form action="/auth/login" method="POST">
  <label for="email">Email:</label>
  <input name="email" type="email" placeholder="Email" required>
  <label for="password">Password:</label>
  <input name="password" type="password" placeholder="password" required>
  <input type="submit">
</form>