<h1>/auth/login</h1>

<form action="/auth/login" method="POST" class="form-group">
  <label for="email">Email:</label>
  <input name="email" type="email" placeholder="Email" class="form-control" required>
  <label for="password">Password:</label>
  <input name="password" type="password" placeholder="password" class="form-control" required>
  <input type="submit" class="form-control">
</form>
