<h1>/auth/signup</h1>

<form action="/auth/signup" method="POST">
  <label for="name">Name:</label>
  <input name="name" type="text" placeholder="Name" required>
  <label for="email">Email:</label>
  <input name="email" type="email" placeholder="Email" required>
  <label for="password">Password:</label>
  <input name="password" type="password" placeholder="password" required>
  <input type="submit">
</form>