<h1>/auth/signup</h1>

<form action="/auth/signup" method="POST" class="form-group">
  <label for="name">Name:</label>
  <input name="name" type="text" placeholder="Name" class="form-control" required>
  <label for="email">Email:</label>
  <input name="email" type="email" placeholder="Email" class="form-control" required>
  <label for="password">Password:</label>
  <input name="password" type="password" placeholder="password" class="form-control" required>
  <input type="submit" class="form-control">
</form>
