<div class="auth-wrapper">
  <div class="auth-carousel carousel-wrapper">
    <p>Here goes CAROUSEL</p>
  </div>
  <div class="auth-container">
    <h1>J<span>o</span>in</h1>

    <form action="/auth/signup" method="POST" class="form">
      <label for="name">Name:</label>
      <input name="name" type="text" placeholder="Name" required>
      <label for="email">Email:</label>
      <input name="email" type="email" placeholder="Email" required>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" placeholder="Password" required>

      <label for="check-password">Retype Password:</label>
      <input id="check-password" name="checkpassword" type="password" placeholder="Verify your password" required>

      <p>Languages</p>

      <%- include('../partials/languagesPartial') %>

      <p>All fields are required.</p>
      <button type="submit" class="btn">Sign up</button>
    </form>
    <p>Have an account? <a href="/auth/login">Log In</a></p>
</div>
</div>
