<div class="container carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1>Top Hea<span>d</span>lines</h1>
    </div>
    <% articlesCarousel.forEach((article) => { %>
      <div class="carousel-item">
        <div class="row">
          <div class=" carousel-headline col-12">
            <small><%= article.source.name %></small>
            <p data-toggle="collapse" data-target=".carousel-content" aria-expanded="false" aria-controls="carousel-content"><%= article.title %></p>
          </div>
        </div>
        <div class="carousel-content row collapse" >
          <div class="carousel-image col-4">
            <img src=<%= article.urlToImage %>>
          </div>
          <div class="carousel-description col-8">
            <p><%= article.description %></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
