<div class="languages">
  <% const arrayOfLanguages = ['en', 'es', 'de', 'fr', 'it', 'pt']; %>
  <%  arrayOfLanguages.forEach((lang) => { %>
    <div class="checkbox">
      <label for=<%= lang %>><img src="../../images/<%- lang %>.png"></label>
        <input type="radio" name="language" value="<%= lang %>" />
    </div>
  <% }); %>
</div>
