<div class="languages">
  <% const languages = ['en', 'es', 'de', 'fr', 'it', 'pt']; %>
  <% const languagesSelected = []; %>
    languages.forEach((lang, index) => { %>
    <div class="checkbox">
      <label for="<%- lang %>"><img src="../../images/<%- lang %>.jpg"></label>
      <input type="checkbox" name="<%- lang %>" value="<%- lang %>">
    </div>
  <% }); %>
</div>
