<div class="navbar">
  <ul>
    <li>
      <i class="far fa-newspaper"></i>
      <a href="/user/home"><p>News feed</p></a>
    </li>
    <li>
      <i class="fas fa-user"></i>
      <a href="/user/edit"><p><%= user.name %></p></a>
    </li>
    <li>
      <i class="fas fa-star"></i>
      <a href="#"><p>Starred</p></a>
    </li>
  </ul>
</div>
