<div class="navbar">
  <ul>
    <li>
      <a href="/user/home">
        <i class="far fa-newspaper"></i>
        <p>News feed</p>
      </a>
    </li>
    <li>
      <a href="/user/edit">
        <i class="fas fa-user"></i>
        <p><%= user.name %></p>
      </a>
    </li>
  </ul>
</div>
