<% if(locals.currentUser) { %>
  <div class="navbar">
    <a href="/user/home" class="navbar-item">
      <i class="far fa-newspaper fa-sm"></i>
      <p>Headlines</p>
    </a>
    <a href="/user/profile" class="navbar-item">
      <i class="fas fa-user fa-lg fa-sm"></i>
      <p><%= currentUser %></p>
    </a>
    <a href="/articles/new" class="navbar-item">
      <i class="fas fa-plus-circle fa-sm"></i>
      <p>New</p>
    </a>
    <a href="/auth/logout" class="navbar-item">
      <i class="fas fa-sign-out-alt fa-sm"></i>
      <p>Log Out</p>
    </a>
  </div>
<% } %>
