<% if(locals.currentUser) { %>
  <div class="navbar">
    <a href="/user/home" class="navbar-item">
      <i class="far fa-newspaper fa-sm"></i>
      <i class="far fa-newspaper fa-2x"></i>
      <p>Headlines</p>
    </a>
    <a href="/user/profile" class="navbar-item">
      <i class="fas fa-user fa-sm"></i>
      <i class="fas fa-user fa-2x"></i>
      <p><%= currentUser.name %></p>
    </a>
    <a href="/articles/new" class="navbar-item">
      <i class="fas fa-plus-circle fa-sm"></i>
      <i class="fas fa-plus-circle fa-2x"></i>
      <p>New article</p>
    </a>
    <a href="/auth/logout" class="navbar-item">
      <i class="fas fa-sign-out-alt fa-sm"></i>
      <i class="fas fa-sign-out-alt fa-2x"></i>
      <p>Log Out</p>
    </a>
  </div>
<% } %>
