<div class="notification-bar">
  <% errorMessages && errorMessages.forEach((message) => { %>
    <p class="message error"><%= message %></p>
  <% }); %>
  <% successMessages && successMessages.forEach((message) => { %>
    <div class="message success"><%= message %> </div>
  <% }); %>
</div>
