<div class="auth-wrapper">
  <div class="auth-container">
    <h1>Ga<span>z</span>ette</h1>
    <a href="auth/signup"><button class="btn">Join</button></a>
    <p>Already have an account? <a href="auth/login">Log in</a></p>
    <div><sup> <p>Powered by <a target="_blank" href="https://newsapi.org/">News API</a></sup></p></div>
  </div>
</div>
