<%- include('../partials/navBarPartial', user); %>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/user/save" method="POST" class="form-group">
        <label for="name">Name:</label>
        <input name="name" type="text" value="<%- user.name %>" class="form-control">
        <label for="email">Email:</label>
        <input name="email" type="email" value="<%- user.email %>" class="form-control">
        <label for="password">Password:</label>
        <input name="password" type="password" placeholder="only be saved if you change it"  class="form-control">
        <input type="submit" class="form-contol btn">
      </form>
      <p><a href="/user/profile" class="form-contol btn">Cancel</a></p>
    </div>
  </div>
<h1>Favorite articles</h1>
</div>
<div class="article-container">
  <%- include('../partials/showArticles', articlesUser) %>
</div>
