<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#home">Home</a>
  </li>
  <li>
    <a data-toggle="tab" href="#languages">Menu 1</a>
  </li>
  <li>
    <a data-toggle="tab" href="#countries">Menu 2</a>
  </li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <div class="row">
      <div class="col">
        <form action="/user/save" method="POST" class="form-group">
          <label for="name">Name:</label>
          <input name="name" type="text" value="<%- user.name %>" class="form-control">
          <label for="email">Email:</label>
          <input name="email" type="email" value="<%- user.email %>" class="form-control">
          <label for="password">Password:</label>
          <input name="password" type="password" placeholder="only be saved if you change it" class="form-control">
          <input type="submit" class="form-contol btn">
        </form>
        <p>
          <a href="/user/profile" class="form-contol btn">Cancel</a>
        </p>
      </div>
    </div>
  </div>
  <div id="languages" class="tab-pane fade">
    <h3>Languages</h3>
    <p>Languages of your interest</p>
    <select name="Languages">
      <option value="ar">ar</option>
      <option value="de">de</option>
      <option value="en">en</option>
      <option value="es">es</option>
      <option value="fr">fr</option>
      <option value="he">he</option>
      <option value="it">it</option>
      <option value="nl">nl</option>
      <option value="no">no</option>
      <option value="pt">pt</option>
      <option value="ru">ru</option>
      <option value="se">se</option>
      <option value="ud">ud</option>
      <option value="zh">zh</option>
    </select>
  </div>
  <div id="countries" class="tab-pane fade">
    <h3>Countries</h3>
    <p>Countries of your interest</p>
    <select name="Languages">
      <option value="ar">ar</option>
      <option value="de">de</option>
      <option value="en">en</option>
      <option value="es">es</option>
      <option value="fr">fr</option>
      <option value="he">he</option>
      <option value="it">it</option>
      <option value="nl">nl</option>
      <option value="no">no</option>
      <option value="pt">pt</option>
      <option value="ru">ru</option>
      <option value="se">se</option>
      <option value="ud">ud</option>
      <option value="zh">zh</option>
    </select>
  </div>
</div>

 'ae', 'ar',
'at', 'au', 'be', 'bg', 'br', 'ca', 'ch', 'cn', 'co', 'cu', 'cz', 'de', 'eg', 'fr', 'gb', 'gr', 'hk', 'hu', 'id', 'ie', 'il',
'in', 'it', 'jp', 'kr', 'lt', 'lv', 'ma', 'mx', 'my', 'ng', 'nl', 'no', 'nz', 'ph', 'pl', 'pt', 'ro', 'rs', 'ru', 'sa', 'se',
'sg', 'si', 'sk', 'th', 'tr', 'tw', 'ua', 'us', 've', 'za',
