<%- include('../partials/navBarPartial', user); %>

<div>
  <h1>Hello, <%- user.name %>!</h1>
  <p>This is your profile page</p>
</div>

<div>
  <p>Name: <%- user.name %></p>
  <p>Email: <%- user.email %></p>
</div>
