<div class="profile-wrapper">
  <div class="profile-container">
    <h1>E<span>d</span>it profile</h1>
    <form action="/user/save" method="POST" class="form">
      <label for="name">Name:</label>
      <input name="name" type="text" value="<%- user.name %>">
      <label for="email">Email:</label>
      <input name="email" type="email" value="<%- user.email %>">
      <label for="password">Password:</label>
      <input name="password" type="password">

      <h3>Languages</h3>

      <%- include('../partials/languagesPartial') %>

      <button type="submit" class="btn">Edit</button>
    </form>
  </div>
</div>
