<%- include('../partials/navBarPartial', user) %>
<!-- <%- include('../partials/notifications') %> -->
<!-- <%- include('../partials/carouselPartial') %> -->
<div class="article-container">
  <%- include('../partials/showArticles') %>
</div>
