<div class="profile-wrapper">
  <div class="profile-container">
    <h1>H<span>e</span>llo, <%- user.name %></h1>
    <p>
      <i class="far fa-newspaper fa-lg"></i><%- articles.length %>
      <i class="far fa-star fa-lg"></i><%- user.favorites.length %>
    </p>
    <a href="/user/published"><button class="btn">Published articles</button></a>
    <a href="/user/favorites"><button class="btn">Favorite articles</button></a>
    <a href="/user/edit"><button class="btn">Edit profile</button></a>
  </div>
</div>
