<div class="profile-wrapper">
  <h1>Subm<span>i</span>t article</h1>

  <form class="form" id="newArticle" action="/articles/new" method="POST">
    <label for="url">URL:</label>
    <input placeholder="URL to article"  type="url" id="url" name="url" required>
    <label for="title">Headline:</label>
    <input placeholder="Article headline"  type="text" id="title" name="title" required>
    <label for="description">Description:</label>
    <input placeholder="Description"  type="text" id="description" name="description" required>
    <label for="urlToImage">Image:</label>
    <input placeholder="Image URL"  type="url" id="urlToImage" name="urlToImage">
    <p>All fields are required</p>

    <p>Select language</p>

    <%- include('../partials/languagesPartialArticle') %>

    <button type="submit" class="btn">Submit article</button>
  </form>
</div>
