<div class="profile-wrapper">
  <h1>Subm<span>i</span>t article</h1>

  <form class="form" action="/articles/new" method="POST">
    <label for="url">URL:</label>
    <input placeholder="URL to article"  type="text" id="url" name="url" required>
    <label for="title">Headline:</label>
    <input placeholder="Article headline"  type="text" id="title" name="title" required>
    <label for="origin">Source name:</label>
    <input placeholder="Source name"  type="text" id="origin" name="origin" >
    <label for="author">Author:</label>
    <input placeholder="Article author"  type="text" id="author" name="author">
    <label for="description">Description:</label>
    <input placeholder="Descritption"  type="text" id="description" name="description" required>
    <label for="urlToImage">Image:</label>
    <input placeholder="Image URL"  type="text" id="urlToImage" name="urlToImage">
    <p>All fields are required</p>
    <button type="submit" class="btn">Submit article</button>
  </form>
</div>
