<%- include('../partials/showArticles') %>

<!-- <div class="wrapper"> -->
  <form class="form" action="/comments/new" method="POST">
    <label for="comment">New comment</label>
    <textarea name="comment" rows="5" cols="45" maxlenght="500"></textarea>
    <button type="submit" class="btn">Submit comment</button>
  </form>
<!-- </div> -->
