$colors: (
  background: #FDFAF7,
  primary: #FFCC00,
  highlight: #FFAA00,
  muted: #AAA,
  white: #FFFFFD,
  whiteish: #DDD,
  blackish: #222,
  navbar-background: #FFFFFFF0,
  navbar-item: #555,
  error: #F88,
  error-border: darken(#F88, 10%),
  success: #696,
  success-border: darken(#696, 10%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

%background-gradient {
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
