$colors: (
  background: #FDFAF7,
  primary: #FFCC00,
  highlight: #FFAA00,
  muted: #AAA,
  white: #FFFFFD,
  whiteish: #DDD,
  blackish: #222,
  navbar-background: #FFFFFFF0,
  navbar-item: #555,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
