.article-wrapper {
  @extend %wrapper;
  justify-content: center;
}

.article-card {
  display: grid;
  grid-template-areas:
    "source"
    "headline"
    "image"
    "description"
    "social";
  grid-gap: 1em;
  margin-top: 1.75em;
  box-shadow: 0 2px 5px 1px color(whiteish);
  background-color: color(white);
  &:last-of-type {
    margin-bottom: 4em;
  }
  @include lg {
    width: 1000px;
    grid-template-areas:
      "image source"
      "image headline"
      "image description"
      "image social"
  }
}

.article-source {
  grid-area: source;
  font-size: 0.8em;
  margin: 1em 0 0 1em;
}

.article-headline {
  grid-area: headline;
  margin: 0 2em;
}

.article-img {
  grid-area: image;
  @include lg {
    width: 500px;
    height: auto;
    overflow: hidden;
  }
}

.article-description {
  grid-area: description;
  margin: 0 1.5em;
  font-size: 0.8em;
  @include lg {
    max-height: 6em;
    overflow: hidden;
  }
}

.article-social {
  grid-area: social;
  li, form {
    margin: 0;
    padding: 0;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    padding: 0;
    list-style: none;
  }
  button {
    background: none;
    border: none;
  }
}
