.auth-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.auth-container {
  grid-column-start: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 0 0 0.8em 0;
  }
  p {
    font-size: 0.8em;
    color: color(muted);
  }
  a {
    text-decoration: none;
    color: color(highlight);
  }
  form {
    display: grid;
    grid-gap: 0.4em;
    justify-content: center;
    label {
      font-size: 0.8em;
    }
    input {
      font-size: inherit;
      border: 1px solid color(muted);
      border-radius: 3px;
      padding: 0.2em;
    }
    .btn {
      justify-self: center;
      margin-top: 1em;
      font-size: inherit;
      padding: 0.4em 1.5em;
      background-color: transparent;
      border: 1px solid color(blackish);
      border-radius: 3px;
      &:hover {
        background-color: color(primary);
        border: 1px solid color(whiteish);
        color: #FFF;
      }
    }
  }
}
